<div
  class="portfolio-header"
  [style.background-image]="'url(' + headerBannerDetails?.desktop_banner + ')'"
>
  <div class="portfolio-content">
    <div class="navbar">
      <div class="name">Mouriesh Filmography</div>
      <div class="navbar-links">
        <div class="link">Promo Works</div>
        <div class="link">Reporting Works</div>
        <div class="link">Organizational Works</div>
      </div>
      <div class="button">
        <button>Let's Discuss</button>
      </div>
    </div>
    <div class="portfolio-quote">
      <div class="quote">
        <span class="font-50 keep-calm">Keep Calm and </span>
        <span class="font-50">Observe People </span>
        <div class="font-65">Differentiation.</div>
        <div class="full-name">SK <span class="first-name"> MOURIESH <span class="bottom-border"></span> </span></div>
      </div>
    </div>
  </div>
</div>
