<div class="portfolio-body">
  <div
    class="mouriesh-work"
    *ngFor="let work of bodyDetails"
    [style.background-image]="'url(' + work?.desktop_banner + ')'"
  >
    <div class="work-content">
      <div class="title">
        {{ work.title }}
      </div>
      <div class="cards" *ngIf="work?.cards">
        <div class="card" *ngFor="let card of work.cards">
          <img [src]="card.desktop_card_banner" alt="" />
          <div class="card-title">
            {{ card.card_title }}
          </div>
          <div class="card-body">
            {{ card.card_body }}
          </div>
        </div>
      </div>
      <div class="scroller">
        <div class="left-arrow">
          <i class="fa-solid fa-arrow-left-long"></i>
        </div>
        <div class="right-arrow">
          <i class="fa-solid fa-arrow-right-long"></i>
        </div>
      </div>
    </div>
  </div>
</div>
