.portfolio-body {
  display: flex;
  flex-direction: column;
  .mouriesh-work {
    height: 100%;
    .work-content {
      padding: 4rem;
      height: 100%;
      .title {
        font-size: 40px;
        font-family: 'August';
        color: var(--yellow);
        margin-bottom: 2rem;
      }
      .cards {
        display: flex;
        overflow: hidden;
        gap: 2rem;
        .card {
          display: flex;
          width: 280px;
          height: 470px;
          flex-direction: column;
          padding: 0.5rem;
          background: var(--white);
          gap: 1rem;
          font-family: 'TT Norms Medium';
          .card-title {
            font-size: 1.25rem;
          }
          .card-body {
            font-size: 1rem;
          }
        }
      }
      .scroller {
        color: var(--green);
        display: flex;
        gap: 2rem;
        justify-content: flex-end;
      }
    }
  }
}